.color-main{
  color:#494949;
}
.color-secondary{
  color:#ffffff;
}
.accent{
  color:#ce8833;
}
.success{
  color:#fce146;
}
.warning{
  color:#ed1e1e;
}
.danger{
  color:#ffae00;
}
.info{
  color:#f2ff00;
}
.color-bg{
  background-color:#617899;
}
.color-bg-2{
  background-color:#e1e1e1;
}
.border{
  border:orange 3px double;
}
.border-2{
  border:#4e6487 3px double;
}
