/*
FLEXBOX
*/
.flex-container{
  display:flex;
}
.flex-container-row{
  display:flex;
  flex-direction:row;
}
.flex-container-column{
  display:flex;
  flex-direction:column;
}
/*Class to fix margin*/
.margin-2{
  margin:2%;
}
.padding-2{
  padding:2%;
}
/*Class to fix logo fontsize*/
.font-size-50{
  font-size:50px;
}
.content-center{
  justify-content:center;
}
.content-left{
  justify-content:left;
}
.content-right{
  justify-content:right;
}
.font-size2{
  font-size:50px;
}
.float-left{
  float:left;
}
.float-center{
  float:center;
}
.float-right{
  float:right;
}
