/*
FLEXBOX
*/
.flex-container{
  display:flex;
}
.flex-container-row{
  display:flex;
  flex-direction:row;
}
.flex-container-column{
  display:flex;
  flex-direction:column;
}
/*Class to fix margin and padding*/
.margin-2{
  margin:2%;
}
.padding-2{
  padding:2%;
}
/*Font size*/
.font-size-50{
  font-size:100px;
}
.font-size-20{
  font-size:20px;
}
/*Positioning*/
.justify-content-center{
  justify-content:center;
}
.justify-content-left{
  justify-content:left;
}
.justify-content-right{
  justify-content:right;
}
.float-left{
  float:left;
}
.float-center{
  float:center;
}
.float-right{
  float:right;
}
.margin-center{
  margin-left:auto;
  margin-right:5%;
}
.margin-left{
  margin-left:auto;
}
.margin-right{
  margin-right:2%;
}
.text-align-bottom{
  text-align:center;
}
.background-image{
  background-image:url(../img/winter.jpeg)
}


.align-text-center{
  text-align:center;
}
